@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.bioSubContainer {
  height: 50px;
  width: 480px;
  background-color: #fff;
  margin-left: 180px;
}
.darkBioSubContainer {
  height: 50px;
  width: 480px;
  background-color: #1e2a47;
  margin-left: 180px;
}
.userBio {
  font-size: 15px;
  font-weight: 400;
  color: #4b6a9b;
  font-family: "Space Mono", monospace;
}
.darkUserBio {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  font-family: "Space Mono", monospace;
}

@media screen and (max-width: 770px) {
  .bioSubContainer {
    width: 400px;
  }
  .darkBioSubContainer {
    width: 400px;
  }
}

@media screen and (max-width: 613px) {
  .bioSubContainer {
    width: 300px;
    margin-left: 130px;
  }
  .darkBioSubContainer {
    width: 300px;
    margin-left: 130px;
  }
}
@media screen and (max-width: 500px) {
  .bioSubContainer {
    width: 270px;
    margin-left: 100px;
  }
  .darkBioSubContainer {
    width: 270px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 377px) {
  .bioSubContainer {
    width: 270px;
    margin-left: 30px;
  }
  .darkBioSubContainer {
    width: 270px;
    margin-left: 30px;
  }
  .userBio {
    font-size: 13px;
  }
  .darkUserBio {
    font-size: 13px;
  }
}
