@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.containers {
  display: flex;
  align-items: center;
  /* justify-items: first baseline; */
  height: 60px;
  justify-content: space-between;
  width: 480px;
  margin-top: 30px;
  gap: 40px;
}
.userName {
  font-size: 26px;
  font-weight: bold;
  color: #2b3442;
  font-family: "Space Mono", monospace;
}
.darkUserName {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}
.userLogin {
  font-size: 16px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
  color: #0079ff;
  padding-top: 5px;
}
.dateContainer {
  display: flex;
  padding-bottom: 23px;
  align-items: center;
  justify-items: flex-start;
  height: 60px;
}
.registDate {
  font-size: 15px;
  color: #697c9a;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}
.darkRegistDate {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}
.nameLogin {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 770px) {
  .containers {
    width: 400px;
  }
}

@media screen and (max-width: 613px) {
  .containers {
    width: 360px;
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .containers {
    width: 240px;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
  }
  .nameLogin {
    width: 200px;
  }
  .userName {
    font-size: 18px;
  }
  .dateContainer {
    width: 200px;
  }
  .darkRegistDate {
    width: 200px;
  }
  .darkUserName {
    font-size: 18px;
  }
}

@media screen and (max-width: 377px) {
  .containers {
    width: 144px;
    flex-direction: column;
    gap: 5px;
  }
  .nameLogin {
    width: 150px;
  }
  .userName {
    font-size: 16px;
  }
  .darkUserName {
    font-size: 16px;
  }
  .userLogin {
    font-size: 13px;
  }
  .dateContainer {
    width: 150px;
  }
  .registDate {
    width: 150px;
    font-size: 13px;
  }
  .darkRegistDate {
    width: 150px;
    font-size: 13px;
  }
}
